html { 
    font-size: 62.5%;

}



/*INDEX*/

.grid-container-index {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 60px 2fr 2fr 50px;
    height: 100vh;
    margin: 0;
    justify-items: stretch;
    align-items: stretch;   
    
    
       
}

.header-index {
    
    grid-column-start: 1;
    grid-column-end:2; 
}

.header-index-flex {
    display: flex;
    justify-self: left;

}
.encabezado-item1 {    
    
    width: 100px;
    height: 50px;    
    margin-left: 10%;    
}

.encabezado-item2-flex {  
    display: flex;
    flex-direction: row;
    justify-self: right;
    grid-column-start: 2;
    grid-column-end:4; 
       
}

ul {
    
    width: 100%;
      
          
}

li {
    display: inline-block;
}

a {
    list-style-type: none;
    text-decoration: none;
    color:#78A1A6;
    font-size: medium;  
    padding: 10px;   
    font-family: 'Poppins', sans-serif; 
    display: inline; 
} 
 

.main_image1 {
    width: 100%;
    height: 100%;       
    object-fit: cover;

}

.bloque1 {
    grid-column-start: 1;
    grid-column-end:2; 
}

.bloque2 {
    grid-column-start: 2;
    grid-column-end:3; 
}

.bloque3 {
    grid-column-start: 3;
    grid-column-end:4; 

}

.bloque4 {
    grid-column-start: 1;
    grid-column-end:2; 

}

.bloque5 {
    grid-column-start: 2;
    grid-column-end:3; 

}

.bloque6 {
    grid-column-start: 3;
    grid-column-end:4; 
}


.footer {
    color:#78A1A6;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;    
    grid-column-start: 2;
    grid-column-end:3; 
    
         
    
}

.inlineblock {
    display: inline-block; 
         
    
   
}

/* PRODUCTOS */

.grid-prod {
display: grid;
grid-template-columns: 1fr 1fr 2fr;
grid-template-rows: 1fr 80px 80px 2fr 80px 2fr 80px 2fr;
grid-gap: 10px;
height: 100vh;
justify-items: stretch;
align-items: stretch;
}

.grid-prod-logo {
    grid-column-start: 1;
    grid-column-end:2; 
    width: 100px;
    height: 50px;    
    margin-left: 10%;
}

.grid-prod-lista {
    grid-column-start: 3;
    grid-column-end:4;
    
}


.grid-prod-encabezado  {
    grid-column-start: 1;
    grid-column-end:4;
    color:#78A1A6;
    margin-left: 3%;
    padding: 15px;
    font-size: large;
    font-family: 'Poppins', sans-serif; 
    text-decoration: underline;
}    


.grid-prod-b1-img1 {
    width: 300px;
    height: 300px;     
    object-fit: cover;
    transition: height 4s, width 4s ;

}

.grid-prod-b1-img1:hover {
    height: 400px;
    width: 400px;
}


.produ-img-izq {
    grid-column-start: 1;
    grid-column-end:2;

}

.produ-img-der {
    grid-column-start: 2;
    grid-column-end:3;

}

.grid-prod-b1-descripcion {
    color: #78A1A6;
    font-size: medium;
    padding: 5%;
    width:100%;
    height:100%;
    font-family: 'Poppins', sans-serif; 
    grid-column-start: 3;
    grid-column-end:4;

}

.footer-p {
    color:#78A1A6;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10%;
    grid-column-start: 1;
    grid-column-end:4; 
    justify-self: center;
    width: 100%;
}

/*ABOUT US*/


.grid-container-us {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
    grid-template-rows: 50px 1fr 1fr 1fr; 
    margin:0;  
    height: 100vh;  
    grid-gap: 10px;
    align-items: stretch;
    justify-items: stretch;      
        
    
}

.grid-logo-us {
    width: 100px;
    height: 50px;    
    margin-left: 15%;
    
     

}

.grid-lista-us {
    grid-column-start: 3;
    grid-column-end:6;

}

.about-us-item1 {
    grid-column-start: 1;
    grid-column-end:6;
    color: #78A1A6;
    font-size: x-large;
    margin: 3%;
    padding: 15px;
    font-family: 'Poppins', sans-serif; 
    
    
    
}

.grid-container-us-item1 {
    height: 100%;
    width: 100%;
   

    
}

.grid-img-pickup {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%; 
    justify-self: end;  
       
    

}

.grid-container-us-item2 {   
    
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: medium;
    background-color: #faf0e5;
    width: 435px;
    font-family: 'Poppins', sans-serif;
    height: 200px;
    color: #78A1A6;
     
    
}
.grid-container-us-item3 {
    height: 100%;
    width: 100%;
    
    


}

.grid-img-envios {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;   
    justify-self: end;
    

}

.grid-container-us-item4 {   
      
    grid-column-start: 4;  
    grid-column-end: 5;  
    font-size: medium;
    background-color: #faf0e5;
    width: 435px;
    font-family: 'Poppins', sans-serif;
    height: 200px;
    color: #78A1A6;
    text-align: center;
    
}

.footer-us {
    
    grid-column-start: 3;  
    grid-column-end: 6; 
    color: #78A1A6;
    

}
    

/*CLASES COMPARTIDAS FAQ Y CONTACTO*/

.grid-container-header {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 80px;
    color: #78A1A6;
    margin:20px;
    height: 100px;
    column-gap: 5px;
    row-gap: 10%;
    font-family: 'Poppins', sans-serif;   
    justify-items: stretch;
    align-items: stretch;

}

.grid-container-logo {
    grid-column-start: 1;
    grid-column-end: 2; 
    
}

.grid-logo-header {
    grid-column-start: 1;
    grid-column-end: 2; 
    width: 100px;
    height: 50px;    
    margin-left: 10%;
    display: inline;

}

.grid-lista-header {
    grid-column-start: 3;
    grid-column-end:3;

}

.footer-contacto-faq {
    color:#78A1A6;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}



/*FAQ*/

.grid-formulario-contacto-titulo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 4fr 1fr; 
    row-gap: 10px;
    margin: 0%;
    height: 100vh;

}

.flex-container-faq {
    display: flex;
    flex-direction: column;
    margin: 5%;    
    color: #78A1A6;;
    font-family: 'Poppins', sans-serif; 

}

.flex-container-faq-item1 {
    font-size: xx-large;
}

.flex-container-faq-item2 {
    margin-left: 5%;
    font-size: x-large;

}

.flex-container-faq-item3 {
    
    font-size: large;
    text-align: justify;

}

/*CONTACTO*/


.grid-formulario-contacto-titulo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 2fr 30px; 
    row-gap: 10px;
    margin: 0%;
    height: 100vh;

}


.formulario-contacto-titulo {
    color: #78A1A6;;
    font-size: xx-large;
    margin: 5%;
    font-family: 'Poppins', sans-serif;
    grid-column-start: 1;
    grid-column-end: 2; 

}

.formulario-contacto-items {
    background-color: #faf0e5;
    color: #78A1A6;;
    font-size: medium;
    margin: 5%;   
    font-family: 'Poppins', sans-serif;  

    
}

.boton-enviar {
   
    font-size: small; 
    color: #faf0e5;
    background-color: #78A1A6;
    border-radius: 8px;
    width: 14%;
    
    
}

.boton-borrar {
    margin-left: 5%;
    font-size: small; 
    color: #faf0e5;
    background-color: #78A1A6;
    border-radius: 8px;
    width: 14%;
}




@media screen and (max-width: 768px) {

    

    /*INDEX 768PX*/

    .grid-container-index {

        grid-template-columns: 2fr 2fr;  
        grid-template-rows: 1fr 1fr 2fr 1fr 1fr 30px;     

    }


    
.header-index {
    grid-column-start: 1;
    grid-column-end:3; 
   
}

.header-index-flex {
   
    justify-self: center;
    grid-column-start: 1;
    grid-column-end:3; 
    width: 100%;
    

}


.encabezado-item2-flex {  
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end:3; 
       
}
    

    
    .encabezado-item2 {
        grid-column-start: 1;
        grid-column-end: 3;
        
        
        

    }

    .bloque1 {
        display: none;
    }

    .bloque2 {

        grid-column-start: 1;
        grid-column-end: 3;
    }

    .bloque3 {
        grid-column-start: 1;
        grid-column-end: 2;
    
    }
    
    .bloque4 {
        grid-column-start: 2;
        grid-column-end:3; 
    
    }
    
    .bloque5 {
        grid-column-start: 1;
        grid-column-end:2; 
    
    }
    
    .bloque6 {
        grid-column-start: 2;
        grid-column-end:3; 
    }

    .footer {
        grid-column-start: 1;
        grid-column-end:3;  
    }

    /*ABOUT US 768PX*/

    .grid-container-us {
        display: grid;
        grid-template-columns: 1fr 1fr;   
        grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr; 
    }

    .grid-lista-us {
        grid-column-start: 1;
        grid-column-end:3;
        margin-left: auto;
        
    
    }
    
    .about-us-item1 {
    grid-column-start: 1;
    grid-column-end:3;
    font-size: small;     
    
    
    }

    .grid-container-us-item1 {
        grid-column-start: 1;
        grid-column-end:2;
        width: 50%;
        justify-self: end;

    
    }

    .grid-img-pickup {
        grid-column-start: 1;
        grid-column-end:2; 
        

    
    
    

    }

    .grid-container-us-item2 {   
    
    
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: xx-small;
    
    
    }
    .grid-container-us-item3 {
    grid-column-start: 1;
    grid-column-end:2;
    width: 50%;
    justify-self: end;   
    


    }

    .grid-img-envios {
    grid-column-start: 1;
    grid-column-end:2;
    

    

    }

    .grid-container-us-item4 {   
      
    grid-column-start: 2;  
    grid-column-end: 3;  
    font-size: xx-small;
    
    
    }

    .footer-us {
    
    grid-column-start: 1;  
    grid-column-end: 3;
    justify-self: center; 

    }

    
    /* PRODUCTOS 768PX
    
    Vero aca me esta pasando que la imagen de los arcoiris me queda recortada, no encuentro donde esta el problema :/ */

    .grib-prod {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 20px 20px 2fr 1fr 50px 2fr 1fr 50px 2fr 1fr 1fr;
    }

    .grid-prod-encabezado  {
   
        font-size: x-small;
        
    }  

   
    .grid-prod-b1-img1 {                        /*este es el div de las imagenes*/
        width: 100%;
        height: 100%;     
        object-fit: cover;
        transition: none ;
    
    }
    
    .grid-prod-b1-img1:hover {
       display: none;
    }
    
    


    .produ-img-izq {                        /*esta la class de las imagenes de la izquierda*/
    grid-column-start: 1;
    grid-column-end:3;

}

    .produ-img-der {                        /*esta la class de las imagenes de la derecha*/
    grid-column-start: 3;
    grid-column-end:4;

}


    .grid-prod-b1-descripcion {
    
    font-size: x-small;    
    grid-column-start: 1;
    grid-column-end:4;
    display: inline;

}

    .footer-p {
    
    grid-column-start: 1;
    grid-column-end:4; 
}   

/*CONTACTO 768PX*/

.formulario-contacto-titulo {
    
    font-size: medium;
    

}


.formulario-contacto-items {
   
    font-size: X-small;    

    
}

/*FAQ 768PX*/


.flex-container-faq-item1 {
    font-size: medium;
}

.flex-container-faq-item2 {
    
    font-size: x-small;

}

.flex-container-faq-item3 {
    
    font-size: xx-small;
    

}





}
        



