html {
  font-size: 62.5%; }

.navbar-div {
  margin-right: 0%; }
  .navbar-div .navbar-brand {
    width: 100%;
    margin-left: 5px;
    padding-top: 10px; }

.logos-links-redes .logo-redes {
  width: 20%;
  padding-top: 8px;
  margin-left: 0%; }

.nav-link {
  color: #78A1A6;
  font-family: "Poppins", sans-serif; }

.encabezadoitem {
  display: flex;
  justify-content: center;
  align-items: center; }

ul {
  width: 100%;
  list-style-type: none; }
  ul li {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px; }
    ul li .nav-link {
      text-decoration: none;
      color: #78A1A6;
      padding: 10px;
      font-family: "Poppins", sans-serif;
      display: inline; }
    ul li .nav-link:hover {
      background-color: transparent;
      font-weight: bold;
      color: #78A1A6; }
    ul li .dropdown-menu {
      width: auto;
      text-align: left;
      background-color: #faf0e5;
      white-space: pre-line;
      border-color: #DB9996;
      border: 2px solid #DB9996;
      border-radius: 8px; }
      ul li .dropdown-menu .dropdown-item {
        text-decoration: overline;
        color: #DB9996;
        width: 100%;
        display: block;
        font-family: "Poppins", sans-serif; }
      ul li .dropdown-menu .dropdown-item:hover {
        background-color: transparent;
        font-weight: bold; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*INDEX*/
.container-fluid {
  padding-right: 0%;
  margin-right: 0%;
  padding-left: 0%;
  margin-left: 0%; }

.logo-redes {
  margin: 2%; }

.body-background {
  background-color: #faf0e5; }

.main_image1 {
  /*SACAR DESPUES*/
  width: 100%;
  height: 100%;
  object-fit: cover; }

.columnas-index {
  padding: 0%; }

/*PRODCUTOS*/
.titulo-grande {
  color: #78A1A6;
  font-size: 50px;
  font-family: "Lora", serif; }

.grid-prod-b1-img1 {
  object-fit: cover; }

.grid-prod-b1-descripcion {
  color: #78A1A6;
  font-size: 25px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  /*BOTONES*/ }
  .grid-prod-b1-descripcion .fotos-p-padding {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5px; }

.div-boton-vermodelos, .div-boton-masinfo {
  margin-bottom: 50px; }

.btn-ghost {
  border: 3px solid #78A1A6;
  color: #faf0e5;
  background-color: #78A1A6;
  border-radius: 12px;
  font-size: 20px;
  width: auto; }

.boton-mas-info {
  font-size: 20px;
  color: #78A1A6;
  background-color: #CFE8DE;
  border-radius: 12px;
  border: 3px solid #78A1A6;
  width: auto; }

.btn-ghost:hover, .boton-mas-info:hover, .boton-borrar:hover, .boton-enviar:hover {
  color: #F1D6D5;
  background-color: #DB9996;
  border: 3px solid #F1D6D5; }

.boton-borrar {
  font-size: 20px;
  color: #78A1A6;
  background-color: transparent;
  border-radius: 12px;
  border: 3px solid #78A1A6;
  width: 200px; }

.boton-enviar {
  font-size: 20px;
  color: #faf0e5;
  background-color: #78A1A6;
  border-radius: 12px;
  border: 3px solid #78A1A6;
  width: 200px; }

.formulario-botones-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px; }

/*ABOUT US*/
.container-about-us {
  margin-left: 200px;
  margin-right: 200px; }

.aboutus-img {
  width: 400px;
  height: 400px;
  object-fit: cover; }

.img-pickup, .img-logos {
  height: auto;
  width: 80px;
  object-fit: cover;
  margin: 20px; }

.about-us-item1 {
  font-family: "Lora", serif; }

.about-us-texto {
  color: #78A1A6;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 10px; }

.texto-titulo-pickup, .texto-titulo-envios {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #78A1A6; }

.texto-pickup, .texto-envios {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #78A1A6; }

.nav {
  padding-right: 20px; }

.nav-link {
  color: #78A1A6;
  font-family: "Poppins", sans-serif; }

.grid-formulario-contacto-titulo .formulario-contacto-items {
  background-color: #faf0e5;
  color: #78A1A6;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  margin-top: 5%;
  margin-bottom: 0%;
  text-align: center; }

/*CONTACTO*/
.label-nombre {
  background-color: #CFE8DE;
  border-radius: 18px;
  width: 40%;
  height: 50px;
  border: 2px solid #78A1A6;
  border-color: #78A1A6; }

.label-email {
  background-color: #CFE8DE;
  border-radius: 18px;
  width: 50%;
  height: 50px;
  border: 2px solid #78A1A6;
  border-color: #78A1A6; }

.form-control-pedidos {
  background-color: #CFE8DE;
  border-radius: 18px;
  width: 50%;
  height: 200px;
  border: 2px solid #78A1A6;
  border-color: #78A1A6; }

/*FAQ*/
.faq-item2 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #78A1A6; }

.faq-item3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #78A1A6;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 15%; }

@media screen and (max-width: 768px) {
  /*INDEX 768PX*/
  .bloque1 {
    display: none; }
  .navbar-div {
    margin-right: none;
    display: flex;
    justify-content: center;
    margin-top: 5px; }
    .navbar-div .navbar-brand {
      width: 20%; }
  .logos-links-redes {
    display: none; }
  .navbar-toggler {
    font-size: large; }
  /*BOTONES 768PX*/
  .formulario-botones-flex {
    flex-direction: column;
    column-gap: none;
    row-gap: 10px; }
  .label-nombre {
    width: 70%; }
  .label-email {
    width: 90%; }
  .form-control-pedidos {
    width: 90%; } }

.footer {
  color: #78A1A6;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 3%; }
  .footer .inlineblock {
    padding: 1%; }
