html {
  font-size: 62.5%; }

.navbar {
  background-color: #faf0e5; }

.navbar-div {
  margin-right: 0%; }
  .navbar-div .navbar-brand {
    width: 100%;
    margin-left: 5px;
    padding-top: 10px; }

.logos-links-redes .logo-redes {
  width: 20%;
  padding-top: 8px;
  margin-left: 0%; }

.encabezadoitem {
  display: flex;
  justify-content: center;
  align-items: center; }

ul {
  width: 100%;
  list-style-type: none; }
  ul li {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px; }
    ul li .nav-link {
      text-decoration: none;
      color: #78A1A6;
      padding: 10px;
      font-family: "Poppins", sans-serif;
      display: inline;
      font-size: large; }
    ul li .nav-link:hover {
      background-color: transparent;
      font-weight: bold;
      color: #78A1A6; }
    ul li .dropdown-menu {
      width: auto;
      text-align: left;
      background-color: #faf0e5;
      white-space: pre-line;
      border-color: #DB9996;
      border: 2px solid #DB9996;
      border-radius: 8px;
      padding-right: 10px; }
      ul li .dropdown-menu .dropdown-item {
        text-decoration: overline;
        color: #DB9996;
        width: 100%;
        display: block;
        font-family: "Poppins", sans-serif;
        font-size: medium;
        padding: 0;
        padding-left: 2%;
        padding-right: 2%; }
      ul li .dropdown-menu .dropdown-item:hover {
        background-color: transparent;
        font-weight: bold; }

.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%; }

/*
.boton-hamburg {
    color: $color-principal;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(120, 161, 166, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }



  /* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
  padding-bottom: 20px; }

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important; }

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #78A1A6;
  display: block;
  transition: all 0.2s; }

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto; }

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%; }

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0); }

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%; }

/* State when navbar is opened (END) */
/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0); }

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100); }

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0); }

/* State when navbar is collapsed (END) */
/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #78A1A6; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*INDEX*/
.container-fluid {
  padding-right: 0%;
  margin-right: 0%;
  padding-left: 0%;
  margin-left: 0%; }

.logo-redes {
  margin: 2%; }

.body-background {
  background-color: #faf0e5; }

.main_image1 {
  /*SACAR DESPUES*/
  width: 100%;
  height: 100%;
  object-fit: cover; }

.columnas-index {
  padding: 0%; }

/*PRODCUTOS*/
.fonds-recoleta-png {
  margin-bottom: 50px;
  width: 400px; }

.titulo-grande {
  color: #78A1A6;
  font-size: 50px;
  font-family: "Lora", serif; }

.grid-prod-b1-img1 {
  object-fit: cover; }

.grid-prod-b1-descripcion {
  color: #78A1A6;
  font-size: 25px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  /*BOTONES*/ }
  .grid-prod-b1-descripcion .fotos-p-padding {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5px; }

.div-boton-vermodelos, .div-boton-masinfo {
  margin-bottom: 50px; }

.btn-ghost {
  border: 3px solid #78A1A6;
  color: #faf0e5;
  background-color: #78A1A6;
  border-radius: 12px;
  font-size: 20px;
  width: auto;
  font-family: "Poppins", sans-serif; }

.boton-mas-info {
  font-size: 20px;
  color: #78A1A6;
  background-color: #CFE8DE;
  border-radius: 12px;
  border: 3px solid #78A1A6;
  width: auto;
  font-family: "Poppins", sans-serif; }

.btn-ghost:hover, .boton-mas-info:hover, .boton-borrar:hover, .boton-enviar:hover {
  color: #F1D6D5;
  background-color: #DB9996;
  border: 3px solid #F1D6D5;
  font-family: "Poppins", sans-serif; }

.boton-borrar {
  font-size: 20px;
  color: #78A1A6;
  background-color: transparent;
  border-radius: 12px;
  border: 3px solid #78A1A6;
  width: 200px;
  font-family: "Poppins", sans-serif; }

.boton-enviar {
  font-size: 20px;
  color: #faf0e5;
  background-color: #78A1A6;
  border-radius: 12px;
  border: 3px solid #78A1A6;
  width: 200px;
  font-family: "Poppins", sans-serif; }

.formulario-botones-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  font-family: "Poppins", sans-serif; }

/*ABOUT US*/
.container-about-us {
  margin-left: 200px;
  margin-right: 200px; }

.aboutus-img {
  width: 400px;
  height: 400px;
  object-fit: cover; }

.img-pickup, .img-logos {
  height: auto;
  width: 80px;
  object-fit: cover;
  margin: 20px; }

.about-us-item1 {
  font-family: "Lora", serif; }

.about-us-texto {
  color: #78A1A6;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 10px; }

.texto-titulo-pickup, .texto-titulo-envios {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #78A1A6; }

.texto-pickup, .texto-envios {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #78A1A6; }

.nav {
  padding-right: 20px; }

.nav-link {
  color: #78A1A6;
  font-family: "Poppins", sans-serif; }

.grid-formulario-contacto-titulo .formulario-contacto-items {
  background-color: #faf0e5;
  color: #78A1A6;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  margin-top: 5%;
  margin-bottom: 0%;
  text-align: center; }

/*CONTACTO*/
.label-nombre {
  background-color: #CFE8DE;
  border-radius: 18px;
  width: 40%;
  height: 50px;
  border: 2px solid #78A1A6;
  border-color: #78A1A6;
  padding: 1%; }

.label-nombre:hover {
  background-color: white;
  color: #78A1A6; }

.label-nombre:focus {
  outline: none; }

.label-email {
  background-color: #CFE8DE;
  border-radius: 18px;
  width: 50%;
  height: 50px;
  border: 2px solid #78A1A6;
  border-color: #78A1A6;
  padding: 1%; }

.label-email:hover {
  background-color: white;
  color: #78A1A6; }

.label-email:focus {
  outline: none; }

.form-control-pedidos {
  background-color: #CFE8DE;
  border-radius: 18px;
  width: 50%;
  height: 200px;
  border: 2px solid #78A1A6;
  border-color: #78A1A6;
  font-style: "Poppins", sans-serif;
  color: #78A1A6;
  box-shadow: #CFE8DE;
  padding: 1%; }

.form-control-pedidos:focus {
  outline: none; }

.form-control-pedidos:hover {
  background-color: white;
  color: #78A1A6;
  border-color: #78A1A6; }

/*FAQ*/
.faq-item2 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #78A1A6; }

.faq-item3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #78A1A6;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 15%; }

@media screen and (max-width: 768px) {
  /*INDEX 768PX*/
  .bloque1 {
    display: none; }
  .navbar-div {
    margin-right: none;
    display: flex;
    justify-content: center; }
    .navbar-div .navbar-brand {
      width: 20%; }
  .logos-links-redes {
    display: none; }
  .navbar-toggler {
    font-size: large; }
  .titulo-grande {
    padding-top: 5%; }
  /*BOTONES 768PX*/
  .formulario-botones-flex {
    flex-direction: column;
    column-gap: none;
    row-gap: 10px; }
  .label-nombre {
    width: 70%; }
  .label-email {
    width: 90%; }
  .form-control-pedidos {
    width: 90%; } }

.footer {
  color: #78A1A6;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 50px; }
  .footer .inlineblock {
    padding: 1%; }
