*{
margin: 0%;
padding: 0%;
box-sizing: border-box;

}    


/*INDEX*/

.container-fluid {
    padding-right: 0%;
    margin-right: 0%;
    padding-left: 0%;
    margin-left: 0%;
}


.logo-redes {
    margin: 2%;

}

.body-background {
    background-color:$color-cremita; 
}

@mixin sizes ($width, $height) {                /*SACAR DESPUES*/
    width: $width;
    height: $height;

}
  



.main_image1 {
    @include sizes(100%, 100%);    
    
    object-fit: cover;

}

.columnas-index {
    padding: 0%;
}



 /*PRODCUTOS*/


 .fonds-recoleta-png {
     
     margin-bottom: 50px;
     width: 400px;
 }
     

 .titulo-grande {
    
    color: $color-principal;
    font-size: 50px;
    font-family: $tipografia-titulos;
    
}

.grid-prod-b1-img1 {     
    object-fit: cover;
}

.grid-prod-b1-descripcion {
    color: $color-principal;     
    font-size: 25px;
    width:100%;
    height:100%;
    font-family:$tipografia;    
    text-align: center;
    
.fotos-p-padding {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5px;

}


    /*BOTONES*/  

}

.div-boton-vermodelos {
    margin-bottom: 50px;

}

.div-boton-masinfo {
    @extend .div-boton-vermodelos;
}


.btn-ghost {    
    border: 3px solid $color-principal;
    color: $color-cremita;
    background-color: $color-principal;
    border-radius: 12px;
    font-size: 20px; 
    width: auto;
    font-family: $tipografia;

}

 
.boton-mas-info {
    
    font-size: 20px; 
    color: $color-principal;
    background-color: $color-celeste-clarito;
    border-radius: 12px;
    border: 3px solid $color-principal;
    width: auto;
    font-family: $tipografia;
}

.btn-ghost:hover {

    color: $color-rosa-clarito;
    background-color: $color-rosa-oscuro;
    border: 3px solid $color-rosa-clarito;
    font-family: $tipografia;



}

.boton-mas-info:hover {
    @extend .btn-ghost:hover
}

.boton-borrar {
    font-size: 20px; 
    color: $color-principal;
    background-color: transparent;
    border-radius: 12px;
    border: 3px solid $color-principal;
    width: 200px;
    font-family: $tipografia;
}


.boton-borrar:hover {
    @extend .btn-ghost:hover
}

.boton-enviar {
    font-size: 20px; 
    color: $color-cremita;
    background-color: $color-principal;
    border-radius: 12px;
    border: 3px solid $color-principal;
    width: 200px;
    font-family: $tipografia;
}

.boton-enviar:hover {
    @extend.btn-ghost:hover

}

.formulario-botones-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    font-family: $tipografia;
}




/*ABOUT US*/

.container-about-us {
    margin-left: 200px;
    margin-right: 200px;
}


.aboutus-img {
    width: 400px;
    height: 400px;
    object-fit: cover;

}



.img-pickup {
    height: auto;
    width: 80px;
    object-fit: cover;
    margin: 20px;
}

.img-logos {
    @extend .img-pickup
}

.about-us-item1 {     
        
    font-family: $tipografia-titulos; 
       
    
}

.about-us-texto{
    color: $color-principal;
    font-family: $tipografia;
    font-size: 20px;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 10px;
   
}


.texto-titulo-pickup {
    font-family: $tipografia;
    font-weight: bold;
    font-size: 20px;
    color: $color-principal
    


}
.texto-titulo-envios {
    @extend .texto-titulo-pickup
   }
   

.texto-pickup {       
       
    font-size: 20px;    
    font-family: $tipografia;    
    color: $color-principal;
         
    
}


.texto-envios {         
 @extend.texto-pickup;
    
}







.nav {
    padding-right: 20px;
}


.nav-link {

    color:$color-principal;
    font-family: $tipografia;

} 



.grid-formulario-contacto-titulo {
    
    .formulario-contacto-items {
        background-color: $color-cremita;
        color: $color-principal;
        font-size: medium;     
        font-family: $tipografia;  
        margin-top: 5%;
        margin-bottom: 0%;
        text-align: center;
    } 


    
}


/*CONTACTO*/

.label-nombre {
    background-color: $color-celeste-clarito;  
    border-radius: 18px;
    width: 40%;
    height: 50px;
    border: 2px solid $color-principal;
    border-color: $color-principal;
    padding: 1%;
    

}

.label-nombre:hover {
    background-color: white;
    color: $color-principal;
}

.label-nombre:focus {
    outline: none;
}

.label-email {
    background-color: $color-celeste-clarito;
    border-radius: 18px;
    width: 50%;
    height: 50px;
    border: 2px solid $color-principal;
    border-color: $color-principal; 
    padding: 1%;

}

.label-email:hover {
    background-color: white;
    color: $color-principal;
}

.label-email:focus {
    outline: none;
}

.form-control-pedidos {
    background-color: $color-celeste-clarito;
    border-radius: 18px;
    width: 50%;
    height: 200px;
    border: 2px solid $color-principal;
    border-color: $color-principal;
    font-style: $tipografia;
    color: $color-principal;
    box-shadow: $color-celeste-clarito;
    padding: 1%;
    

}
.form-control-pedidos:focus {
    outline: none;
}

.form-control-pedidos:hover {
    background-color: white;
    color: $color-principal;
    border-color: $color-principal;
}






/*FAQ*/


.faq-item2 {
        
    font-size: 30px;
    font-family: $tipografia;
    font-weight: bold;
    color: $color-principal;
    
}

.faq-item3 {
    
    font-size: 20px;
    font-family: $tipografia;
    color: $color-principal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15%;
    padding-right: 15%;
    
    
        
        
}



@media screen and (max-width: 768px) {    

    /*INDEX 768PX*/

    .bloque1 {
        display: none;
    }    
 
    .navbar-div {
    margin-right: none;
    display: flex;
    justify-content: center;
    
    
    .navbar-brand {
        width: 20%;


        
    }

}
    
    .logos-links-redes {
        display: none;
    }

    .navbar-toggler {
        font-size: large;
        
    }

 /*BOTONES 768PX*/

    .formulario-botones-flex {

        flex-direction: column;
        column-gap: none;
        row-gap: 10px;
    }

    .label-nombre {
       
        width: 70%;
        
        
    
    }
    
    .label-email {
        
        width: 90%;
        
    }
    
    
    .form-control-pedidos {
      
        width: 90%;
       
    }
}

