

.navbar-div {
    margin-right: 0%;

    .navbar-brand {
        width: 100%;
        margin-left: 5px;       
        padding-top: 10px;

    }
    

        
        
   

}



.logos-links-redes {
   

    .logo-redes {
        width: 20%;
        padding-top: 8px;        
        margin-left: 0%;
    
    }
}

.nav-link {
  
    color:$color-principal;
    font-family: $tipografia;
    

} 

.encabezadoitem {
    display: flex;   
    justify-content: center;
    align-items: center; 
    
}


ul {
    
    width: 100%;
    list-style-type: none;
      
          
    li {
        display: inline-block;
    

        .nav-link {
    
            text-decoration: none;
            color: $color-principal;
            padding: 10px;   
            font-family: $tipografia; 
            display: inline; 
        }

        .nav-link:hover {
            background-color: transparent;
            font-weight: bold;
            color: $color-principal;

        }
        
        .dropdown-menu {
            width: auto;
            text-align: left;
            background-color: $color-cremita;            
            white-space:pre-line;           
            border-color: $color-rosa-oscuro;
            border: 2px solid $color-rosa-oscuro;
            border-radius: 8px;
           
            

            .dropdown-item {

                text-decoration: overline;
                color: $color-rosa-oscuro;
                width: 100%;    
                display: block;                       
                font-family: $tipografia;                 
               


            }

            .dropdown-item:hover {
                background-color: transparent;
                font-weight: bold;
            }
        } 
    }
}
