$color-principal: rgb(120, 161, 166);
$color-cremita: #faf0e5;
$color-rosa-oscuro: #DB9996;
$color-rosa-clarito: #F1D6D5;
$color-celeste-clarito: #CFE8DE;
$color-beige: #CFE8DE;



$tipografia-titulos: 'Lora', serif;
$tipografia: 'Poppins', sans-serif;


