$color-principal: #78A1A6;
$color-cremita: #faf0e5;
$color-rosa-oscuro: #DB9996;
$color-rosa-clarito: #F1D6D5;
$color-celeste-clarito: #CFE8DE;
$color-beige: #CFE8DE;


/* me marca error 
@font-face {
    src: (Fonts/Recoleta-Light.otf);
    font-family: Recoleta-Light;

}
*/ 


$tipografia-titulos: "Recoleta-Light";
$tipografia: 'Poppins', sans-serif;


